src/obj_dir
src/_tt_fpga_top.v
build
gds*.png
gds*.svg
src/config.json
.DS_Store
.idea
*.vcd
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
tt
