.DS_Store
.idea
.vscode
*.vcd
build
runs
tt
tt_submission
src/_tt_fpga_top.v
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
venv
gds_render*
datasheet.md
datasheet.pdf
