//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.02
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Mon 10 14 16:37:51 2024

IO_LOC "FPGA_TX" 17;
IO_PORT "FPGA_TX" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "uio_out[7]" 29;
IO_PORT "uio_out[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "uio_out[6]" 30;
IO_PORT "uio_out[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "uio_out[5]" 33;
IO_PORT "uio_out[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "uio_out[4]" 34;
IO_PORT "uio_out[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "uio_out[3]" 25;
IO_PORT "uio_out[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "uio_out[2]" 26;
IO_PORT "uio_out[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "uio_out[1]" 27;
IO_PORT "uio_out[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "uio_out[0]" 28;
IO_PORT "uio_out[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "uo_out[7]" 51;
IO_PORT "uo_out[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "uo_out[6]" 53;
IO_PORT "uo_out[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "uo_out[5]" 54;
IO_PORT "uo_out[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "uo_out[4]" 55;
IO_PORT "uo_out[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "uo_out[3]" 40;
IO_PORT "uo_out[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "uo_out[2]" 35;
IO_PORT "uo_out[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "uo_out[1]" 41;
IO_PORT "uo_out[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "uo_out[0]" 42;
IO_PORT "uo_out[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "on_board_leds[5]" 16;
IO_PORT "on_board_leds[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "on_board_leds[4]" 15;
IO_PORT "on_board_leds[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "on_board_leds[3]" 14;
IO_PORT "on_board_leds[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "on_board_leds[2]" 13;
IO_PORT "on_board_leds[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "on_board_leds[1]" 11;
IO_PORT "on_board_leds[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "on_board_leds[0]" 10;
IO_PORT "on_board_leds[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=4 BANK_VCCIO=1.8;
IO_LOC "ui_in[7]" 77;
IO_PORT "ui_in[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ui_in[6]" 76;
IO_PORT "ui_in[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ui_in[5]" 48;
IO_PORT "ui_in[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ui_in[4]" 49;
IO_PORT "ui_in[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ui_in[3]" 38;
IO_PORT "ui_in[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ui_in[2]" 37;
IO_PORT "ui_in[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ui_in[1]" 36;
IO_PORT "ui_in[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "ui_in[0]" 39;
IO_PORT "ui_in[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "BTN_S1" 4;
IO_PORT "BTN_S1" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk_27MHz" 52;
IO_PORT "clk_27MHz" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "BTN_S2" 3;
IO_PORT "BTN_S2" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
