.DS_Store
.idea
*.vcd
runs
tt_submission
tt
ttsetup
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
src/a.out
src/*.vcd
fpga/tt_sine_synth/
fpga/tt10_sine_synth/
fpga/.Xil/
fpga/vivado.*
src/vivado.*
src/vivado_*
