.DS_Store
.idea
*.vcd
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v

*.jou
*.cache
*.class
project/project/
project/target/
project/test_run_dir/
project/src/fpga/fpga.runs/
project/src/fpga/fpga.sim/
project/src/fpga/fpga.hw/
project/src/fpga/fpga.ip_user_files/

