# Pin Constraints for Upduino 3.1 ICE40 Board
# Refer to https://github.com/tinyvision-ai-inc/UPduino-v3.0/blob/master/docs/source/features/specs.rst

# Data Out
set_io data 12

# Debug LED
set_io dbg_clk 40
set_io dbg_rst 41

# Buttons
set_io rst 21
set_io trig 13

# SPI
# FT_SCK
set_io spi_clk 15
# FPGA_SO
set_io spi_mosi 14
# Reuse FPGA_SI
set_io spi_nss 17